---
// components/Header.astro
import HamburguerButton from "./HamburguerButton.astro";
import Index from "./Index.astro";
import LanguagePicker from "./LanguagePicker.astro";
import ThemeButton from "./ThemeButton.astro";

const { currentLang, translate } = Astro.props;
---

<section
  id="h-section"
  class="px-4.5 md:px-8 lg:px-16 pt-6 md:pt-8 lg:pt-12 max-w-352 mx-auto flex justify-between w-full"
>
  <p class="text-[38px] lg:text-5xl font-[workbench] tracking-widest">AM</p>
  <nav class="flex items-center gap-1 md:gap-7">
    <ThemeButton class="hidden md:block p-1 rounded-lg" />
    <LanguagePicker currentLang={currentLang} translate={translate} />
    <HamburguerButton currentLang={currentLang} translate={translate} />
  </nav>
</section>
<Index currentLang={currentLang} translate={translate} />
