---
// components/NavIndex.astro
const { class: className, id, currentLang, translate } = Astro.props;

const navItems = [
  { id: "intro", label: "nav_intro" },
  { id: "about", label: "nav_about" },
  { id: "what-i-do", label: "nav_wid" },
  { id: "skills", label: "nav_skills" },
  { id: "contact", label: "nav_contact" },
];
---

<nav id={id} class:list={["flex-col items-center justify-center transition-all duration-500", className]}>
  <ol class="grid items-center gap-6 text-xl font-semibold text-center md:text-right">
    {
      navItems.map((item) => (
        <li class="relative group">
          <a
            href={`${import.meta.env.BASE_URL}${currentLang === "en" ? "" : currentLang + "/"}#${item.id}`}
            data-section={item.id}
            class="nav-link flex items-center justify-center md:justify-end gap-3 hover:text-zinc-500 transition-all uppercase tracking-widest py-2 md:py-1"
          >
            <span class="active-indicator hidden w-2 h-6 bg-primary rounded-full" />
            <span class="link-text">{translate(item.label)}</span>
          </a>
        </li>
      ))
    }
  </ol>
</nav>

<style>
  @reference "../styles/global.css";

  .nav-link.active {
    @apply scale-110 text-primary;
  }
  .nav-link.active .active-indicator {
    @apply block;
  }
</style>
