---
import type { useTranslations } from "../assets/i18n/utils";
import Footer from "../components/Footer.astro";
import GridBackground from "../components/GridBackground.astro";
import Header from "../components/Header.astro";
import ThemeButton from "../components/ThemeButton.astro";

interface Props {
  currentLang: "en" | "es" | "de";
  translate: ReturnType<typeof useTranslations>;
}

const { currentLang, translate } = Astro.props;
---

<!doctype html>
<html lang={currentLang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={translate("head_description")} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{translate("head_title")}</title>

    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();

      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
      window.localStorage.setItem("theme", theme);
    </script>
  </head>
  <body
    class="bg-white dark:bg-black dark:text-white px-4.5 md:px-8 lg:px-16 transition-colors duration-300"
  >
    <header
      class="fixed left-0 right-0 z-50 bg-gradient-to-b dark:from-black/100 from-white/100 to-transparent transition-opacity duration-500"
    >
      <Header
        class="px-4.5 md:px-8 lg:px-16 pt-6 md:pt-8 lg:pt-12 max-w-352 mx-auto"
        currentLang={currentLang}
        translate={translate}
      />
    </header>

    <main class="max-w-7xl mx-auto">
      <slot />
    </main>

    <ThemeButton class="fixed bottom-2 right-3 rounded-4xl" />

    <Footer translate={translate} />
    <GridBackground />
  </body>
</html>
