---
import About from "../components/About.astro";
import BackgroundPrimary from "../components/BackgroundPrimary.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Intro from "../components/Intro.astro";
import MainSection from "../components/MainSection.astro";
import Skills from "../components/Skills.astro";
import WhatIDo from "../components/WhatIDo.astro";

const { currentLang, translate } = Astro.props;
---

<!doctype html>
<html lang={currentLang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={translate("head_description")} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{translate("head_title")}</title>
  </head>
  <body class="px-[18px]">
    <Header translate={translate} />
    <main>
      <MainSection
        id="intro"
        class="min-h-screen flex flex-col justify-center items-center relative"
      >
        <Intro translate={translate} />
      </MainSection>
      <MainSection id="about" class="flex flex-col gap-4 py-10">
        <About translate={translate} />
      </MainSection>
      <MainSection id="what-i-do" class="grid justify-center gap-4">
        <WhatIDo translate={translate} />
      </MainSection>
      <MainSection id="skills" class="flex flex-col gap-4 py-10">
        <Skills translate={translate} />
      </MainSection>
      <MainSection id="contact">
        <Contact translate={translate} />
      </MainSection>
    </main>
    <Footer translate={translate} />
    <BackgroundPrimary />
  </body>
</html>
