---
import BackgroundPrimary from "../components/BackgroundPrimary.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const { lang, translate } = Astro.props;
---

<!doctype html>
<html lang={lang} class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={translate("head_description")} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{translate("head_title")}</title>
  </head>
  <body
    class="bg-white dark:bg-black dark:text-white px-[18px] md:px-8 lg:px-16"
  >
    <Header
      class="px-[18px] md:px-8 lg:px-16 pt-6 md:pt-8 lg:pt-12 max-w-[1408px] mx-auto"
      currentLang={lang}
      translate={translate}
    />
    <main class="max-w-7xl mx-auto">
      <slot />
    </main>
    <Footer translate={translate} />
    <BackgroundPrimary />
  </body>
</html>
